@import "../../components/styles/index";
@import "../../components/styles/screen";

.hero {
  position: inherit;
  top: -1rem;
  width: 300%;
  height: 60rem;
  z-index: -1;

  @include tablet {
    width: 100%;
  }

  h1 {
    text-align: center;
    width: 22%;
    color: $negro;
    text-transform: uppercase;
    letter-spacing: 1rem;
    font-size: 5rem;

    @include tablet {
      width: 100%;
      font-size: 8rem;
    }
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .contenido-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
  }
}
